html {
  background-color: aquamarine;
}

#display {
  background-color: rgb(164, 193, 247);
}

#drum-machine {
  background-color: grey;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 440px;
}

#drum-machine {
  min-width: 376px;
  min-height: 430px;
  max-width: 376px;
  max-height: 430px;
  box-shadow: 8px 8px;
}

.drum-pad {
  width: 100px;
  height: 100px;
  box-shadow: 4px 4px;
}

.drum-pad:focus {
  outline: none;
}

.drum-pad:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px;
  background-color: rgb(241, 240, 136);
  color: white;
}
.drum-pad-active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px;
  background-color: rgb(241, 240, 136);
  color: white;
}
